*.aux
*.log
*.syntex.gz
*.py.err
*.py.outRec
*.py.rs
*.rc
*.enc
*.gz
*.bat
advanced-examples-eng/*.png
advanced-examples-de/*.png
advanced-examples-eng/kolam/*.png
advanced-examples-de/kolam/*.png
simple-examples-de/python.sty
simple-examples-en/python.sty

